<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/secretstuff/ai}" th:object="${ai}" th:method="post">
		<div>
			Basic attributes
			<table>
				<tr>
					<th>Name:</th>
					<th><input th:field="*{name}" type="text" id="name"
						name="name"></th>
				</tr>
				<tr>
					<th>Chance:</th>
					<th><input th:field="*{chanceToAppear}" type="text"
						id="chance" name="chance"></th>
				</tr>
			</table>
		</div>
		<div>
			Main stats
			<table>
				<tr>
					<th>Health:</th>
					<th><input th:field="*{health}" type="text" id="health"
						name="health" value=0></th>
				</tr>
				<tr>
					<th>Stamina:</th>
					<th><input th:field="*{stamina}" type="text" id="stamina"
						name="stamina" value=0></th>
				</tr>
				<tr>
					<th>Magic:</th>
					<th><input th:field="*{magic}" type="text" id="magic"
						name="magic" value=0></th>
				</tr>
				<tr>
					<th>Armor:</th>
					<th><input th:field="*{armor}" type="text" id="armor"
						name="armor" value=0></th>
				</tr>
			</table>
		</div>
		<div>
			Secondary stats
			<table>
				<tr>
					<th>Strength:</th>
					<th><input th:field="*{strength}" type="text" id="strength"
						name="strength" value=0></th>
				</tr>
				<tr>
					<th>Dexterity:</th>
					<th><input th:field="*{dexterity}" type="text" id="dexterity"
						name="dexterity" value=0></th>
				</tr>
				<tr>
					<th>Intelligence:</th>
					<th><input th:field="*{intelligence}" type="text"
						id="intelligence" name="intelligence" value=0></th>
				</tr>
				<tr>
					<th>Constitution:</th>
					<th><input th:field="*{constitution}" type="text"
						id="constitution" name="constitution" value=0></th>
				</tr>
			</table>
		</div>
		<button type="submit">Submit</button>
	</form>
	<br>
	<table border="1" style="width: 300px">
		<tr>
			<td>Name</td>
			<td>Chance to appear</td>
			<td>Health</td>
			<td>Stamina</td>
			<td>Magic</td>
			<td>Armor</td>
			<td>Intelligence</td>
			<td>Strength</td>
			<td>Dexterity</td>
			<td>Constitution</td>
		</tr>
		<th:block th:each="ai : ${ais}">
			<tr>
				<td th:text="${ai.name}" />
				<td th:text="${ai.chanceToAppear}" />
				<td th:text="${ai.mainStats.health}" />
				<td th:text="${ai.mainStats.stamina}" />
				<td th:text="${ai.mainStats.magic}" />
				<td th:text="${ai.mainStats.armor}" />
				<td th:text="${ai.secondaryStats.intelligence}" />
				<td th:text="${ai.secondaryStats.strength}" />
				<td th:text="${ai.secondaryStats.dexterity}" />
				<td th:text="${ai.secondaryStats.constitution}" />
			</tr>
		</th:block>
	</table>
</body>
</html>