<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<table>
	<th th:text="dsasdsa">...</th>
	<th th:text="dsasdsa">...</th>
</table>

<a th:href="@{/secretstuff/ai}">secret</a>

https://spring.io/guides/gs/handling-form-submission/

<form th:action="@{/greeting}" th:method="get">
	<div>
		<table>
			<tr>
				<th>Issue ID:</th>
				<th><input type="text" id="name" name="name" value=""></th>
			</tr>


		</table>
	</div>
	<button type="submit">Submit</button>
</form>
<br>

<table>
	<tr>
		<th><a th:href="@{/secretstuff/ai}">AI</a></th>
		<th><a th:href="@{/secretstuff/technique}">Techniques</a></th>
	</tr>
</table>

combobox example
<form th:action="@{/secretstuff/ai}" th:object="${adminModel}"
	th:method="get">
	<select>
		<option th:each="selectedView : ${selectedViews}"
			th:value="${selectedView}" th:text="${selectedView}">Options</option>
	</select><br>
	<button type="submit">Submit</button>
</form>
</html>